<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>If Unless Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/nav-name :: navbar"></div>
<div class="m-5">
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td>
                <a class="btn btn-success"  th:if="${user.role} == 'Manager'">Update</a>
                <a class="btn btn-danger"  th:if="${user.role} == 'Manager'">Delete</a>
                <a class="btn btn-primary"  th:unless="${user.role} == 'Manager'">View</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>